<h4>会員情報編集</h4>

 <%= form_with model: @customer, url: customers_path, local:true do |f| %>

       <h6>宛名</h6>
      <p><%= f.text_field :last_name %><%= f.text_field :first_name %></p>
      <p><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
      <h6>郵便番号</h6>
      <label for ="inputPostalCode">Postal_code</label>
      <%= f.text_field:postal_code, autofocus:true, id:"inputPostalCode",placeholder:"PostalCode"  %></div>

      <h6>住所</h6>
       <label for ="inputAddress">Address</label>
       <%#= f.text_area:address, autofocus:true, id:"inputAddress",placeholder:"Address"  %></div>
      <%= f.text_area :address %>
      
      
       <h6>電話番号</h6>
       <label for ="inputAddress">Address</label>
       <%#= f.text_area:address, autofocus:true, id:"inputAddress",placeholder:"Address"  %></div>
      <%= f.text_area :address %>

      <p><%= f.submit '編集内容を保存', class: 'btn btn-success' %></p>
 <% end %>
<%= link_to "退会する", customers_unsubscribe_path %>