<h2>顧客マイページ</h2>



<p>姓</p>
<%= @customer.last_name %>

<p>名</p>
<%= @customer.first_name %>

<p>姓カナ</p>
<%= @customer.last_name_kana %>

<p>名カナ</p>
<%= @customer.first_name_kana %>

<p>メールアドレス</p>
<%= @customer.email %>



<p>郵便番号</p>
<%= @cusotmer.postal_code %>


<p>住所</p>
<%= @cusotmer.address %>

<p>電話番号</p>