<div class="container">
  <div class="row">
<h5><div class = "bg-light mt-4 col-12 md-10">
マイページ</div></h5>
</div>
<div class="row mt-3">
  <div class="col-2 pr-0"><h5><strong>
登録情報</strong></h5></div>
<div class="pl-1 m-0"></div>
<%= link_to "編集する", public_customer_edit_path, class: "btn btn-success btn-sm" %></div>






      <div class="border col-md-9 mt-4">
  <div class="row border ">
  <label for="id" class="col-sm-4 col-form-label border">氏名</label>
    <div class="col-sm-6">
    <%= @customer.last_name %><%= @customer.first_name %></div>
    </div>


 <div class="row border">
  <label for="id" class="col-sm-4 col-form-label border">カナ</label>
  <div class="col-sm-6">
<%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
</div>

 <div class="row border">
  <label for="id" class="col-sm-4 col-form-label border">郵便番号</label>
  <div class="col-sm-6">
<%= @customer.postal_code %></div>
</div>


 <div class="row border">
  <label for="id" class="col-sm-4 col-form-label border">住所</label>
   <div class="col-sm-6">
<%= @customer.address %></div>
</div>

 <div class="row border">
  <label for="id" class="col-sm-4 col-form-label border">電話番号</label>
   <div class="col-sm-6">
<%= @customer.telephone_number %></div>
</div>

<div class="row border">
  <label for="id" class="col-sm-4 col-form-label border">メールアドレス</label>
   <div class="col-sm-6">
<%= @customer.email %></div>
</div>

</div>

<div class="row mt-4">
<div class="col-2 pr-0"><h5><strong>
配送先</strong></h5></div>
<div class="pl-1"></div><%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm" %>
</div>

<div class="row mt-2">
<div class="col-2 pr-0 mr-0"><h5><strong>
注文履歴</strong></h5></div>
<div class="pl-1"></div><%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %>
</div>




