<h1>商品一覧</h1>



<% @items.each do |item| %>
<div>
  <%= attachment_image_tag image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>
  <p>投稿ユーザー画像
  <p>商品名：<%= item.name %></p>
  <p>商品説明：<%= item.introduction %></p>
  <p>ジャンル：<%= item.name %></p>
</div>
<% end %>

<h4>add new item </h4>

<%= link_to "addItem", new_admin_item_path %>

