

<div class="container">

 <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-10">
   商品一覧</div></h5>
   <div class ="text-right col-8 mt-3 mb-3">
   <%=link_to new_admin_item_path, class: "btn btn-outline-secondary rounded-circle" do %>
   <i class="fas fa-plus"></i>
   <% end %></div>

 </div>

<!--<table class="table table-hover table-inverse"> -->
<center>
 <table class="table col-md-12">
   <thead class="thead-light">
    <tr>
     <th>商品ID</th>
     <th>商品名</th>
     <th>税抜価格</th>
     <th>ジャンル</th>
     <th>ステータス</th>
    </tr>
   </thead>
  <tbody>
   <% @items.each do |item| %>
   <tr>
    <td><%= item.id %></td>
    <td><%= link_to admin_item_path(item.id) do %>
          <%= item.name %>
        <% end %></td>
    <td><%= item.price.to_s(:delimited) %></td>
    <td><%= item.genre.name %></td>
    <div class ="text-success">
    <td><%= item.is_active_i18n %></td>
    </div>
   </tr>
   <% end %>
  </tbody>
</table>

</center>
<!--<%#= item.created_at.strftime('%Y/%m/%d') %> -->

 <%#= link_to "Show", admin_item_path(item.id) %>
  <%#= link_to "Edit", edit_admin_item_path(item.id) %>


