<h1>商品一覧</h1>


<%= link_to "addItem", new_admin_item_path %>
<%= link_to "back", admin_homes_top_path %>

<div class="container">

<table class="table table-hover table-inverse">
<tbody>
  <tr>
<% @items.each do |item| %>
<div>
  <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>

  <p>商品名：<%= item.name %></p>
  <p>商品説明：<%= item.introduction %></p>
  <p>ジャンル: <%= item.genre.name %></p>

  <p>価格</p>
  <%= item.price %>

  <p>投稿日時：<%= item.created_at.strftime('%Y/%m/%d') %></p>

  <%= link_to "Show", admin_item_path(item.id) %>
  <%= link_to "Edit", edit_admin_item_path(item.id) %>
</div>
<% end %>
</tr>
</tbody>
</table>
</div>


