
<div class="container">
  <div class="row">


   <h5><div class = "bg-light mt-4 col-12 md-6">
    商品新規登録</div></h5>

 <div class="mt-5 col-12  mx-6">
  <%= form_with model: @item, url: admin_items_path, local:true do |f| %>

  <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">商品画像</label>
    <div class="col-sm-8">
      <%= f.attachment_field :image %></div>
  </div>

   <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">商品名</label>
    <div class="col-sm-8">
        <%= f.text_field :name, autofocus:true, placeholder:"商品名" %></div>
    </div>


  <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">商品説明文</label>
    <div class="col-sm-8">
      <%= f.text_area :introduction, autofocus:true, placeholder:"ここに説明文を記述します" %></div>
    </div>
    <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">ジャンル</label>
    <div class="col-sm-8">
      <%= f.select :genre_id, Genre.all.map{|o| [o.name, o.id]}, {include_blank: "--選択してください--"} %></div>
    </div>
  <div class ="row">
    <label for="id" class="col-sm-4 mb-4 text-right">価格</label>
    <div class="col-sm-8">
      <%= f.text_field :price, autofocus:true, placeholder:"1000" %>円</div>
  </div>


  <div class="row">
  <label for="id" class="col-sm-4  mb-4 text-right">販売ステータス</label>
    <div class="col-sm-8">
      <%= f.collection_radio_buttons :is_active, Item.is_actives_i18n, :first, :last %>
    </div>
</div>


  <center class="mt-3">
  <%= f.submit '新規登録', class: "btn btn-success" %></center>
 <% end %>
</div>
</div>
</div>
</div>


