<h1>商品詳細画面Admin::Items#show</h1>



<div>
 <% @items.each do |item| %>
 <h4>画像</h4>
  <%= attachment_image_tag item, :image_id, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
  <h4>商品名</h4>
  <%= item.name %>
  <h4>商品説明文</h4>
  <%= item.introduction %>
  <h4>ジャンル</h4>
  <%= item.name %>
  <h4>価格</h4>
  <%= item.price %>

  <p>投稿日時：<%= item.created_at.strftime('%Y/%m/%d') %></p>

  <% end %>
</div>