<div class="container mx-auto">
  <div class="row">
    <div class="col-md-2 mt-5 pl-0">

   <%= render 'public/items/list', items: @items %></div>



<div class="col-md-10 mt-3">


  <div class="card" style=" ">
<center>
    <div class="card-body  card-img-overlay ">
    <div class="card-text bg-white col-6 mt-5">
    <center>
    <p>ようこそ、ながのCAKEへ！</p>
    <p>このサイトでは、ケーキ販売のECサイトになります。</p>
    <p>会員でない方も商品の閲覧はできますが、</p>
    <p>購入には会員登録が必要になります。</p>
    </div>
    </div>
</center>

   <%= image_tag '22780906_s.jpg', size: "980x350" %>

<rect fill="#868e96" width="100%" height="100%">

</div>





<% if @search_items %>
 <strong><p>商品一覧</p></strong>
 <div class="d-flex flex-row flex-wrap">
  <% @search_items.each do |search_item| %>
  <div class="col-3 d-flex flex-column flex-wrap text-wrap">
  <p>
  <%= link_to item_path(search_item.id) do %>
  <%= attachment_image_tag search_item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %></p>
  <% end %>
  <p><%= search_item.name %></p>
  <p>￥<%= search_item.with_tax_price %>円</p>
  </div>
  <% end %>

  </div>


<% else %>

<% if @search_genres %>
<div class="d-flex flex-row flex-wrap">
 <strong><p><%= @search_genres.name %>一覧</p></strong>
  <% @search_genres.each do |search_genre| %>
<div class="col-3 d-flex flex-column flex-wrap text-wrap">
  <%= link_to item_path(search_genre.id) do %>
  <%= attachment_image_tag search_genre, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>
  <% end %>
  <p><%= search_genre.name %></p>
  <p>￥<%= search_genre.with_tax_price %>円</p>
  <% end %>

  </div>
</div>
<% else %>
<div class="d-flex flex-row flex-wrap">
 <strong><p>商品一覧</p></strong>
<% @items.each do |item| %>
<div class="col-3 d-flex flex-column flex-wrap text-wrap">
  <%= link_to item_path(item.id) do %>
  <%= attachment_image_tag item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>
  <% end %>
  <p><%= item.name %></p>
  <p>￥<%= item.with_tax_price %>円</p>
</div>
<%= paginate @items %>
<% end %>

</div>

<% end %>

<% end %>

</div>
</div>
        </div>
      </div>
    </div>

</div>









