
顧客詳細画面


           <tr>
              <p>姓: <%= @customer.last_name %></p>
             <p>名: <%= @customer.first_name %></p>

             <p>姓カナ: <%= @customer.last_name_kana %></p>
             <p>名カナ: <%= @customer.first_name_kana %></p>
             <p>メールアドレス: <%= @customer.email %></p>

             <p>郵便番号: <%= @customer.postal_code %></p>
             <p>住所: <%= @customer.address %></p>
             <p>携帯電話: <%= @customer.telephone_number %></p>
             <p>会員ステータス: <%= @customer.is_deleted %></p>

             <p>登録日時: <%= @customer.created_at.strftime('%Y/%m/%d') %></p>
          </tr>
<%= link_to "edit", admin_customers_edit_path(@customer.id) %>
<%= link_to "back", admin_customers_index_path %>





