

<div class="container">
  <div class="row">

  <h5><div class = "bg-light mt-4 col-12 md-6">
    ジャンル一覧・追加</div></h5>
    </div>
    </div>

   <div class="container">
    <div class="row">
<div class ="mx-5 mt-4">
   <%= form_with model: @genre, url: admin_genres_path, local:true do |f| %>

    <h6>ジャンル名<%= f.text_field :name %>

    <%= f.submit '新規登録', class: "btn btn-success" %>

   <% end %>
   </div></h6>
  </div>
  </div>
<table class="table col-3 mx-5 md-3">
  <thead class="thead-light">
    <tr>
     <th>ジャンル</th>
     <th></th>
     <th colspan="2"></th>
    </tr>
  </thead>
  <tbody>

    <% @genres.each do |genre| %>
      <tr>
      <p>
     <td><%= genre.name %></td>
      <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
      </p>
      </tr>
    <% end %>

  </tbody>
</table>





<%#= link_to "back", admin_homes_top_path %>

 </div>
 </div>
 </div>
