

<div class="container">
  <div class="row">
  <div class="mx-5 col-sm-6 col-md-6 col-lg-5 px-1 px-sm-1">

   <h5><p class = "bg-light mt-3 col-4 md-3">
  注文履歴一覧 </p></h5>
      </div>
     </div>
     </div>
<center>

    <!--
<div class="card" style="width: 60rem;">
     <ul class="list-group list-group-flush"> -->
    <table class="table col-md-5">
      <thead class="thead-light">
        <tr><th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
        <th></th>

        </tr>
      </thead>

    <tbody>

    <% @orders.each do |order| %>
        <tr>
            <td><%= link_to order.created_at.strftime('%Y/%m/%d  %H:%M:%S'), admin_orders_show_path(order.id) %></td>
          <%#= order.created_at %>
          <td><%= order.name %></td>
          <% order.order_details.each do |order_detail| %>
              <td><%= order_detail.amount %></td>
           <% end %>

          <td><%= order.status_i18n %></td>


        </tr>
    <% end %>
    </tbody>
</table>


<%= paginate @orders %>
<col class="col-md-1"></col>