


  注文履歴一覧
<center>
<div class="card" style="width: 60rem;">
     <ul class="list-group list-group-flush">
     <table>
      <thead>
        <th>購入日時</th>
        <th>購入者</th>
        <th>注文個数</th>
        <th>注文ステータス</th>
      </thead>
     </ul>
</div>
    <tbody>

    <% @orders.each do |order| %>
        <tr>
          <td><%= order.created_at %></td>
          <td><%= order.name %></td>
          <% order.order_details.each do |order_detail| %>
              <td><%= order_detail.amount %></td>
           <% end %>

          <td><%= order.status %></td>
          <td><%= link_to "表示する", order_path(order.id) %> </td>

        </tr>
    <% end %>
    </tbody>
</table>

