
 <div class="container">
  <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-6">
    配送先編集
    </div></h5>
   </div>
<div class="row">
  <div class="col-12 mt-3">

      <%= form_with model: @customer_address, url: address_path, local:true do |f| %>
      <div class="row mt-1">
        <label for="id" class="col-3 text-left">
        郵便番号(ハイフンなし)</label>
       <div class="col-5">
        <%= f.text_field:postal_code, autofocus:true, id:"inputPostalCode",placeholder:"PostalCode", class: "form-control border border-dark"  %></div>
       </div>

     <div class="row mt-1">
      <label for="id" class="col-3 text-left">
      住所</label>
       <%#= f.text_area:address, autofocus:true, id:"inputAddress",placeholder:"Address"  %>
      <div class="col-8">
      <%= f.text_field :address, class: "form-control border border-dark" %></div>
      </div>
      <div class="row mt-1">
      <label for="id" class="col-3 text-left">
      宛名</label>
       <div class="col-5">
      <%= f.text_field :name, class: "form-control border border-dark" %></div>

       <div class="col-3 pl-2 mt-1">
      <%= f.submit '新規登録', class: 'btn btn-success' %></div></div>
      <% end %>


  	</div>
  	</div>

