<table>
<thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
</thead>
<tbody>
    <% @total = 0 %>
    <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td>
              <%= cart_item.subtotal %>
              <% @total += cart_item.subtotal %>
          </td>
        </tr>
    <% end %>
</tbody>
</table>

<p><%= @total %></p>