<p>ショッピングカート</p>
<p><%= link_to "カートを空にする", cart_items_destroy_all_path, method: :delete,  data:{confirm:'本当に空にしますか？'}, class: 'btn btn-sm btn-danger' %></p>
<table>
<thead>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
</thead>
<tbody>
    <% @total = 0 %>
    <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td>
              <%= cart_item.subtotal %>
              <% @total += cart_item.subtotal %>
          </td>
          <td><%= link_to "削除する", cart_item_path(cart_item), method: :delete, data:{confirm:'本当に空にしますか？'}, class: 'btn btn-sm btn-danger' %></td>
        </tr>
    <% end %>
</tbody>
</table>

<p>合計金額:<%= @total %></p>