<div class="container">
  <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-6">
     ログイン</div></h5>

 </div>
<div class="row"><div class = "bg-light mt-4 col-3 md-3">
     会員の方はこちらからログイン</div></div>
<center>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mt-3">
    <div class="row">
  <label for="id" class="col-sm-4 col-form-label text-right">
    <%= f.label :メールアドレス %></label>
     <div class="col-sm-1">
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
     </div>
  </div>
  </div>

  <div class="field">
    <div class="row">
  <label for="id" class="col-sm-4 text-right">
    <%= f.label :パスワード %></label>
       <div class="col-sm-1">
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  </div>
  </div>

<!--<!--% if devise_mapping.rememberable? %>
    <div class="field">
      <!--%= f.check_box :remember_me %>
      <!--%= f.label :remember_me %>
    </div>
  <!% end %> -->
<div class="field mt-4">
    <div class="row">
  <label for="id" class="col-sm-4 text-right"></label>
    <div class="col-sm-1">
  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<!--%= render "customers/shared/links" %-->
</center>



<div class="row">
  <div class = "bg-light mt-4 col-3 md-3">
     会員登録がお済みでない方</div>
</div>
<div class="row">
  <div class="col-6 mx-5 mt-2">
<%= link_to "こちら", new_customer_registration_path %> から新規登録を行ってください.
</div>
</div>
</div>