

<div class="container">

   <div class ="row">
   <div class = "bg-light">
     <p><h4>注文情報確認</h4></p>
   </div>
   </div>
<div class="row">
<div class="col-9">
     <!--<ul class="list-group list-group-flush"> -->
     <table class="table table-bordered col-12">
      <thead class="thead-light">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>

      </thead>



    <tbody>

    <%= form_with model: @order_detail, url: orders_confirm_path, local:true do |f| %>

      <% @total = 0 %>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td><%= cart_item.item.name %></td>
          <td><%= cart_item.item.with_tax_price %></td>
          <td><%= cart_item.amount %></td>
          <td>
              <%= cart_item.subtotal %>
              <% @total += cart_item.subtotal %>
          </td>

        </tr>
      <% end %>
    <% end %>
    </tbody>
  </table>
</div>
<div class="col-3">
<%= form_with model: @order, url: orders_path, local:true do |f| %>

  <div class="row border-top  border-left  border-right mt-3">
    <div class="col-6 table-secondary">送料</div>
    <div class="col-6 border-left"> <%= @order.shipping_cost %></div>
  </div>
   <div class="row border-top  border-left  border-right mt-0">
    <div class="col-6 table-secondary">商品合計</div>
    <div class="col-6 border-left "><%= @total %></div>
   </div>
  <div class="row border-top border-bottom  border-left border-right">
    <div class="col-6 table-secondary">請求金額</div>
    <div class="col-6 border-left"><%= @total += @order.shipping_cost %></div>
   </div>
</div>

</div>


<p><h5>支払方法</h5>
<div class="ml-3">
<%= @order.payment_method_i18n %></div></p>

<p><h5>お届け先</h5>　〒<%= @order.postal_code %>
       <%= @order.address %> </p>
     <p class="ml-3"> <%= @order.name %>様 </p>


  <%= f.hidden_field :payment_method, value: @order.payment_method %>
  <%= f.hidden_field :postal_code, value: @order.postal_code %>
  <%= f.hidden_field :address, value: @order.address %>
  <%= f.hidden_field :name, value: @order.name %>
  <%= f.hidden_field :shipping_cost, value: @order.shipping_cost %>
  <%= f.hidden_field :total_payment, value: @total %>
  <%= f.hidden_field :status, value: @order.status %>
  <%= f.hidden_field :customer_id, value: @order.customer_id %>


  <%#= f.hidden_field :making_status, value: @order.making_status %>
  <%#= f.hidden_field :amount, value: @cart_items.amount %>
  <%#= f.hidden_field :price, value: @total %>
  <div class="mt-3">
<center>
  <%= f.submit '注文を確定する', class: "btn btn-success" %>
</center>
</div>


<% end %>

</div>