<h4>注文情報入力</h4>



<div class="field">
  <p>支払方法</p>
  <%= form_with model: @order, url: orders_confirm_path, local:true do |f| %>
  <div class="radio-inline">
    <%= f.radio_button :payment_method, :credit_card, checked: "checked" %>
    <%= f.label :クレジット %>
  </div>
  <div class="radio-inline">
    <%= f.radio_button :payment_method, :transfer %>
    <%= f.label :銀行振込 %>
  </div>


<p>配送先</p>
<p><%= f.radio_button :address_id, "0" %>ご自身の住所(初回登録時の住所）</p>

<% f.label :current_customer %>

<p>〒<%= @customer_address.postal_code %></p>
<p><%= @customer_address.address %></p>

<p><%= f.radio_button :address_id, "1" %>ご登録済みの住所</p>

<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :full_address) %>


<p><%= f.radio_button :address_id, "2" %>新しい配送先</p>

   <%#= form_with model: @address, url: addresses_path, local:true do |f| %>
    <h4>郵便番号</h4>
    <%= f.text_field :postal_code %>
    <h4>住所</h4>
    <%= f.text_area :address %>
    <%#= f.submit '登録' %>
    <h4>お名前</h4>
    <%= f.text_field :name %>



    <%= f.submit '確認画面へ進む' %>

   <% end %>


</div>