
<div class="container">

 <div class="row">
   <h5><div class = "bg-light mt-4 col-12 md-10">
   注文履歴詳細</div></h5>
  </div>
<div class="row">
  <div class="col-7">
注文情報
    <div class="row border-top border-left border-right ">
     <div class="col-3 border-right table-secondary">
     注文日</div>
     <div class="col-9">
     <%= @order.created_at.strftime('%Y/%m/%d') %></div>
    </div>

    <div class="row border-top border-left border-right">
     <div class="col-3 border-right table-secondary">
     お届け先</div>
     <div class="col-9">
       <p class="my-0">〒<%= @order.postal_code %></p>
       <p class="my-0"><%= @order.address %></p>
       <p class="my-0"><%= @order.name %>様</p>
     </div>
    </div>

    <div class="row border-top border-left border-right">
     <div class="col-3 border-right table-secondary">
     支払方法</div>
     <div class="col-9">
     <%= @order.payment_method_i18n %></div>
    </div>

    <div class="row border-top border-left border-right border-bottom">
     <div class="col-3 border-right table-secondary">
      注文ステータス</div>
      <div class="col-9">
      <%= @order.status_i18n %></div>
    </div>
  </div>

<div class="pl-3"></div>

  <div class="col-4">
    請求情報
  <div class="row border-top  border-left  border-right border-bottom mt-3">
    <div class="col-4 table-secondary">商品合計</div>
    <div class="col-8 border-left"><%= @total = (@order.total_payment - @order.shipping_cost).to_s %></div>
  </div>

  <div class="row border-top  border-left  border-right border-bottom mt-3">
    <div class="col-4 table-secondary">配送料</div>
    <div class="col-8 border-left"><%= @order.shipping_cost %></div>
  </div>

<strong>
  <div class="row border-top  border-left  border-right border-bottom mt-3">
    <div class="col-4 table-secondary">ご請求額</div>
    <div class="col-8 border-left"><%= @order.total_payment.to_s %>円</div>
  </div>
</strong>

</div>

</div>




  <div class="row mt-5 col-6 p-0">

    <table class="table col-md-12">
      <thead class="thead-light">
        <th>商品名</th>
        <th>単価(税込)</th>
        <th>数量</th>
        <th>小計</th>

      </thead>


</div>
    <tbody>

    <% @order_details.each do |order_detail| %>
        <tr>
          <td><%= order_detail.item.name %></td>
          <td><%= order_detail.item.with_tax_price %></td>
          <td><%= order_detail.amount %></td>
          <td>

            <%= order_detail.price * order_detail.amount %>

          </td>

        </tr>
    <% end %>

    </tbody>
</table>
</div>
</div>





