<% @search_items.each do |search_item| %>
<div>
  <%= attachment_image_tag search_item, :image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg"  %>
  <p>商品名：<%= search_item.name %></p>
  <p>商品説明：<%= search_item.introduction %></p>
  <p>ジャンル：<%= search_item.genre.name %></p>
  <p>価格: <%= search_item.with_tax_price %></p>
  <%= link_to "Show", item_path(item.id) %>

</div>

<% end %>
