<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/b805f4612c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<header class="shadow-sm">
  <nav class="navbar navbar-expand-sm">
    <div class="container">


    <% if admin_signed_in? %>

        <%= link_to "LOGO", root_path %>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">

        <ul class= "navbar-nav ml-auto  d-inline p-2 pl-2" >


            <%= link_to "商品一覧", admin_items_path, class: 'btn btn-outline-secondary font-weight-light text-dark' %>


            <%= link_to "会員一覧", admin_customers_index_path, class: 'btn btn-outline-secondary font-weight-light text-dark ' %>


            <%= link_to "注文履歴一覧", admin_homes_top_path, class: 'btn btn-outline-secondary font-weight-light text-dark ' %>


            <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-outline-secondary font-weight-light text-dark ' %>


            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary font-weight-light text-dark' %>

        </ul>
        </div>
    <% else %>

      <% if customer_signed_in? %>
      <li>
        <%= link_to "LOGO", root_path, class: 'btn btn-outline-secondary font-weight-bold' %>
        ようこそ！<%= current_customer.last_name %>様
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class= "navbar-nav ml-auto  d-inline p-2 pl-2" >
        <%= link_to "マイページ", customers_my_page_path, class: 'btn btn-outline-secondary font-weight-bold' %>
        <%= link_to "商品一覧", items_path, class: 'btn btn-outline-secondary font-weight-bold' %>
        <%= link_to "カート", cart_items_path, class: 'btn btn-outline-secondary font-weight-bold' %>
        <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-outline-secondary font-weight-bold' %>
        </ul>
        </div>

      </li>
      <% else %>
      <%= link_to "LOGO", root_path, class: 'btn btn-outline-secondary font-weight-bold' %>
       <div class="collapse navbar-collapse" id="navbarNavDropdown">
       <ul class= "navbar-nav ml-auto  d-inline p-2 pl-2" >
      <%= link_to "About", about_path, class: 'btn btn-outline-secondary font-weight-bold' %>
      <%= link_to "商品一覧", items_path, class: 'btn btn-outline-secondary font-weight-bold' %>
      <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-secondary font-weight-bold' %>
      <%= link_to "ログイン", new_customer_session_path, class: 'btn btn-outline-secondary font-weight-bold'%>
        </ul>
        </div>
      <% end %>

    <% end %>



  <div>
  </nav>
</header>

<%= yield %>


    </div>
  </body>
</html>
